# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
venv310/
.env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Data (ML projects)
# =========================
data/*
!data/loader.py

# =========================
# Models / outputs
# =========================
*.pkl
*.h5
*.model

# =========================
# Logs
# =========================
*.log


# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Environment variables (IMPORTANT)
# =========================
.env